html,body {
    height:100%;
    margin:0;
    padding:0;
    
}
.dung_bg {
    background-image: url("../images/nikos-gaitanopoulos-menu-background.jpg");
    height:auto;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;  
}

div.inline {
    float:left;
}

h1 {
    font-size:40px;
    font-weight:bold;
    padding: 0px;
    /* font-family:'Press Start 2P', cursive;  */
    /* font-family: 'Acme', sans-serif; */
    /* font-family: 'Berkshire Swash', cursive; */
    /* font-family: 'Kaushan Script', cursive; */
    font-family: 'Monoton', cursive; 
}

h2 {
    /* font-family:'Press Start 2P', cursive;  
    font-family: 'Acme', sans-serif; */
    font-family: 'Berkshire Swash', cursive;
    /* font-family: 'Kaushan Script', cursive;
    font-family: 'Monoton', cursive;  */
}

h5 {
    display:inline;
}

.hami {
    height:200px;
    margin-bottom:-70px;
}
